---
import ArticleList from "../../components/ArticleList.svelte";
import SummaryBox from "../../components/SummaryBox.svelte";
import Layout from "../../layouts/Layout.astro";
import { getSectionArticles, loadFeedData } from "../../lib/data";

export async function getStaticPaths() {
  const data = loadFeedData();
  return data.sections.map((section) => ({
    params: { id: section.id },
    props: { section, data },
  }));
}

const { section, data } = Astro.props;
const articles = getSectionArticles(data, section.id);
---

<Layout title={section.name} activeId={section.id}>
  <div class="mb-10">
    <SummaryBox summary={section.ai_summary} icon={section.icon} />
  </div>

  <ArticleList articles={articles} sections={[section]} client:load />
</Layout>
